## Temperature Analysis I

In [12]:
import pandas as pd
from datetime import datetime as dt

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('../SQLAlchemy-Challenge/Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
df['date']= pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [15]:
df = df.set_index('date')

In [46]:
df = df.reset_index()
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18103 entries, 0 to 18102
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  18103 non-null  int64
 1   index    18103 non-null  int64
 2   date     18103 non-null  datetime64[ns]
 3   station  18103 non-null  object
 4   prcp     18103 non-null  float64
 5   tobs     18103 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 990.0+ KB

### Compare June and December data across all years

In [18]:
from scipy import stats

In [47]:
june = df[df['date'].dt.month == 6]
dec = df[df['date'].dt.month == 12]
june

       level_0  index       date      station  prcp  tobs
126        133    133 2010-06-01  USC00519397  0.00    78
127        134    134 2010-06-02  USC00519397  0.01    76
128        135    135 2010-06-03  USC00519397  0.00    78
129        136    136 2010-06-04  USC00519397  0.00    76
130        137    137 2010-06-05  USC00519397  0.00    77
...        ...    ...        ...          ...   ...   ...
18052    19492  19492 2017-06-26  USC00516128  0.02    79
18053    19493  19493 2017-06-27  USC00516128  0.10    74
18054    19494  19494 2017-06-28  USC00516128  0.02    74
18055    19495  19495 2017-06-29  USC00516128  0.04    76
18056    19496  19496 2017-06-30  USC00516128  0.20    75

[1574 rows x 6 columns]

In [31]:
avg_temp_june = june['tobs'].mean()
print(f"The average temperature in June is {round(avg_temp_june,2)} degrees fahrenheit.")

The average temperature in June is 74.94

In [32]:
avg_temp_dec = dec['tobs'].mean()
print(f"The average temperature in December is {round(avg_temp_dec,2)} degrees fahrenheit.")

The average temperature in December is 71.04 degrees fahrenheit.

In [38]:
from scipy import stats

In [53]:
temp_june_list = []
for temp in june['tobs']:
    if type(temp) == int:
        temp_june_list.append(temp)
    

temp_dec_list = []
for temp in dec['tobs']:
    if type(temp) == int:
        temp_dec_list.append(temp)

In [54]:
stats.ttest_ind(temp_june_list, temp_dec_list)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

Given the above pvalue, there is strong evidence to reject the null hypothesis of:
If time of year and temperature are not related, then traveling to Hawaii in the summer will not result in a warmer temperture than traveling to Hawaii in December.