## Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('../SQLAlchemy-Challenge/Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
df['date']= pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
df = df.set_index('date')

In [6]:
df = df.reset_index()
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18103 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     18103 non-null  datetime64[ns]
 1   station  18103 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     18103 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 707.1+ KB

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
june = df[df['date'].dt.month == 6]
dec = df[df['date'].dt.month == 12]

In [9]:
avg_temp_june = june['tobs'].mean()
print(f"The average temperature in June is {round(avg_temp_june,2)} degrees fahrenheit.")

The average temperature in June is 74.89 degrees fahrenheit.

In [10]:
avg_temp_dec = dec['tobs'].mean()
print(f"The average temperature in December is {round(avg_temp_dec,2)} degrees fahrenheit.")

The average temperature in December is 70.93 degrees fahrenheit.

In [11]:
from scipy import stats

In [12]:
temp_june_list = []
for temp in june['tobs']:
    if type(temp) == int:
        temp_june_list.append(temp)
    

temp_dec_list = []
for temp in dec['tobs']:
    if type(temp) == int:
        temp_dec_list.append(temp)

In [13]:
stats.ttest_ind(temp_june_list, temp_dec_list)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

Given the above pvalue, there is strong evidence to reject the null hypothesis of:
If time of year and temperature are not related, then traveling to Hawaii in the summer will not result in a warmer temperture than traveling to Hawaii in December.